@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.light-theme {
  --body-bg-clr: rgb(241, 241, 241);
  --primay-clr: rgb(102, 7, 165);
  --normal-font-clr: rgb(15, 15, 15);
  --header-border-bottom-clr: rgba(102, 7, 165, 0.5);
  --a-hover-before-bg-clr: green;
  --a-active-clr: green;
  --nav-bg-clr: rgb(241, 241, 241);
  --title-section-h2-f-s: clamp(2rem, 2.5rem, 3vw);
  --title-section-a-f-s: clamp(1.5rem, 1.8rem, 2.2vw);
  --title-sec-a-border-clr: rgb(102, 7, 165);
  --image-house-shadow: rgba(0, 0, 0, 0.3);
  --form-border-clr: rgba(102, 7, 165, 0.4);
  --input-bg-clr: rgb(233, 233, 233);
  --textarea-border-clr: rgba(102, 7, 165, 0.5);
  --svg-icon-clr: black;
}

.dark-theme {
  --body-bg-clr: rgb(10, 13, 16);
  --primay-clr: rgb(147, 24, 223);
  --normal-font-clr: rgb(231, 223, 223);
  --header-border-bottom-clr: rgba(102, 7, 165, 0.5);
  --a-hover-before-bg-clr: green;
  --a-active-clr: green;
  --nav-bg-clr: rgb(10, 13, 16);
  --title-section-h2-f-s: clamp(2rem, 2.5rem, 3vw);
  --title-section-a-f-s: clamp(1.5rem, 1.8rem, 2.2vw);
  --title-sec-a-border-clr: rgb(113, 8, 184);
  --image-house-shadow: rgba(105, 102, 102, 0.2);
  --form-border-clr: rgba(102, 7, 165, 0.4);
  --input-bg-clr: rgb(29, 26, 26);
  --input-focus-bg-clr: rgb(41, 39, 39);
  --textarea-border-clr: rgba(102, 7, 165, 0.2);
  --btn-bg-clr: rgb(17, 17, 17);
  --svg-icon-clr: white;
}

body {
  -webkit-animation: animateBody 1s ease forwards;
          animation: animateBody 1s ease forwards;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  background: var(--body-bg-clr);
}

body .overlay {
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

.body-active {
  background: rgba(0, 0, 0, 0.3);
}

.home-page {
  -webkit-animation: animateBody 1s ease forwards;
          animation: animateBody 1s ease forwards;
}

form {
  -webkit-animation: animateBody 1s ease forwards;
          animation: animateBody 1s ease forwards;
}

.services {
  -webkit-animation: animateBody 1s ease forwards;
          animation: animateBody 1s ease forwards;
}

footer {
  -webkit-animation: animateBody 1s ease forwards;
          animation: animateBody 1s ease forwards;
}

@-webkit-keyframes animateBody {
  from {
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateBody {
  from {
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  margin: 0 auto 0 auto;
  height: 8vh;
  border-bottom: 1px solid var(--header-border-bottom-clr);
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: clamp(2.5rem, 3rem, 4vw);
  color: var(--primay-clr);
  font-weight: 400;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
}

header nav a {
  color: var(--primay-clr);
}

header nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fd0000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

header nav a:hover::before {
  width: 100%;
  background: var(--a-hover-before-bg-clr);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: var(--title-section-a-f-s);
  display: inline-block;
  position: relative;
  text-decoration: none;
  border: none;
  color: #6607a5;
}

a.active {
  color: var(--a-active-clr);
  text-decoration: none;
  font-size: clamp(2rem, 2.3rem, 3vw);
}

/* main section styling */
main {
  width: 90vw;
  margin: 0 auto;
}

.home-page {
  min-height: 85vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .title {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--normal-font-clr);
}

.home-page .title h2 {
  font-size: clamp(2rem, 2.5rem, 3vw);
}

.home-page .title h2 em {
  color: var(--primay-clr);
}

.home-page .title a {
  margin-top: 2rem;
  background: var(--body-bg-clr);
  border: 1px solid var(--title-sec-a-border-clr);
  border-radius: 10px;
  padding: 1rem 2rem;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: clamp(1.5rem, 1.8rem, 2.2vw);
  color: var(--primay-clr);
}

.home-page .title .a-actives {
  background: rgba(0, 0, 0, 0.1);
}

.home-page .title a:hover {
  background: var(--primay-clr);
  color: white;
}

.home-page .image {
  width: 50%;
  height: 100%;
  text-align: center;
}

/* image section */
@-webkit-keyframes up-down {
  from {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    -webkit-filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
            filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
  }
  to {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
            filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
  }
}
@keyframes up-down {
  from {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    -webkit-filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
            filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
  }
  to {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
            filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
  }
}

/* media query for .home-page section */
@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  header {
    position: relative;
  }
  header nav {
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: var(--nav-bg-clr);
    z-index: 10;
  }
  header a {
    opacity: 0;
  }
  header .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  @-webkit-keyframes linkAnimate {
    from {
      opacity: 0;
      -webkit-transform: translateX(15rem);
              transform: translateX(15rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes linkAnimate {
    from {
      opacity: 0;
      -webkit-transform: translateX(15rem);
              transform: translateX(15rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  header .hamburger {
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  header .hamburger .lines {
    width: 3rem;
    height: 0.3rem;
    background-color: #6607a5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }
  header .hamburger .line2 {
    margin-top: 5px;
  }
  header .hamburger .line3 {
    margin-top: 5px;
  }
  header .animate .line1 {
    -webkit-transform: translate(5px, 8px) rotate(45deg);
            transform: translate(5px, 8px) rotate(45deg);
  }
  header .animate .line2 {
    opacity: 0;
  }
  header .animate .line3 {
    -webkit-transform: translate(5px, -8px) rotate(-45deg);
            transform: translate(5px, -8px) rotate(-45deg);
  }
  .home-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .title {
    text-align: center;
    margin-top: 3rem;
  }
  .home-page .title a {
    padding: 5px 1rem;
  }
}

/* --------------------service page stylling------------------------- */
.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services h1 {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.services .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .contents .image-house {
  -webkit-box-shadow: 1rem 1rem 1rem var(--image-house-shadow);
          box-shadow: 1rem 1rem 1rem var(--image-house-shadow);
}

.services .contents .image-house h2 {
  font-size: clamp(2rem, 2.5rem, 3vw);
  color: var(--normal-font-clr);
}

.services .contents .image-house img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .services .contents {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* -------------------about page styling----------------------- */
/* svg image styling */
.about {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .img1 {
  height: 30rem;
}

.about .img2 {
  height: 15rem;
}

/* -----------------------------Contact page form styling-------------------------------- */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  border-radius: 1rem;
  border: 1px solid var(--form-border-clr);
  overflow: hidden;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 2rem;
}

form .detail {
  height: 7rem;
  overflow: hidden;
  text-align: left;
  position: relative;
  margin: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form label {
  width: 100%;
  text-align: left;
  margin-left: 10%;
  font-size: clamp(1.5rem, 1.8rem, 2.2vw);
  color: var(--primay-clr);
}

form input {
  line-height: 1;
  padding: 0.5rem 2rem 0.5rem 5%;
  font-size: clamp(2rem, 2.2rem, 2.7vw);
  border-radius: 1rem;
  outline: none;
  width: 90%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: var(--input-bg-clr);
  color: var(--normal-font-clr);
  overflow: hidden;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid var(--textarea-border-clr);
}

form input:focus,
form textarea:focus {
  background: var(--input-focus-bg-clr);
}

form textarea {
  padding: 1rem;
  width: 90%;
  height: 100%;
  border: 1px solid var(--textarea-border-clr);
  color: var(--normal-font-clr);
  font-family: inherit;
  outline: none;
  font-size: clamp(1.5rem, 1.8rem, 2.3vw);
  font-weight: bold;
  background: var(--input-bg-clr);
}

form button {
  line-height: 1;
  height: 3rem;
  width: 22%;
  margin: 1.5rem auto 0 auto;
  color: #6607a5;
  font-size: clamp(1.5rem, 2rem, 2.5vw);
  background: var(--btn-bg-clr);
  border: 1px solid var(--primay-clr);
  border-radius: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

form button:hover {
  background: var(--primay-clr);
  color: var(--normal-font-clr);
}

form .text {
  height: 10rem;
}

footer {
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  font-size: clamp(1.3rem, 1.6rem, 2.5vw);
  color: var(--primay-clr);
}

footer span {
  color: #6607a5;
}

.toggler {
  position: fixed;
  right: 0;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggler svg {
  color: var(--svg-icon-clr);
}
/*# sourceMappingURL=index.css.map */