@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
$clr-primary: rgba(102, 7, 165, 1);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// --------------------animation------------------------------
body {
    animation: animateBody 1s ease forwards;
    transition: all 0.2s linear;
    position: relative;

    & .overlay {
        // background: rgba(0, 0, 0, 0.3);
        min-height: 100vh;
        width: 100%;
        position: absolute;
    }
}
.body-active {
    background: rgba(0, 0, 0, 0.3);
    // opacity: 0.8;
}
.home-page {
    animation: animateBody 1s ease forwards;
}
form {
    animation: animateBody 1s ease forwards;
}
.services {
    animation: animateBody 1s ease forwards;
}

@keyframes animateBody {
    from {
        transform: translateY(15rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
// --------------------------------------------------animation-end
html {
    font-size: 62.5%;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}
:root {
    --title-section-h2-f-s: clamp(2rem, 2.5rem, 3vw);
    --title-section-a-f-s: clamp(1.5rem, 1.8rem, 2.2vw);
}
header {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: 0 auto 0 auto;
    height: 8vh;
    border-bottom: 1px solid rgba(102, 7, 165, 0.5);
    & h1 {
        flex: 1;
        font-size: clamp(2.5rem, 3rem, 4vw);
        color: $clr-primary;
    }
    & nav {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        & a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(253, 0, 0);
            transform: translateX(-100%);
            bottom: 0;
            transition: all 0.2s ease-in-out;
            opacity: 0;
        }
        & a:hover::before {
            width: 100%;
            background-color: green;
            transform: translateX(0%);
            opacity: 1;
        }
    }
}
a {
    transition: all 0.2s ease-in-out;
    font-size: var(--title-section-a-f-s);
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: none;
    color: $clr-primary;
}
a.active {
    color: green;
    text-decoration: none;
    font-size: clamp(2rem, 2.3rem, 3vw);
    font-weight: bold;
}

/* main section styling */
main {
    width: 90vw;
    margin: 0 auto;
}
.home-page {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    align-items: center;
    justify-content: space-between;
    & .title {
        width: 50%;
        height: 100%;
        & h2 {
            font-size: var(--title-section-h2-f-s);
            & em {
                color: green;
            }
        }
        & a {
            margin-top: 2rem;
            background: rgb(255, 255, 255);
            border: 1px solid $clr-primary;
            border-radius: 10px;
            padding: 1rem 2rem;
            text-decoration: none;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            font-size: var(--title-section-a-f-s);
            color: $clr-primary;
        }
        .a-actives {
            background: rgba(0, 0, 0, 0.1);
        }
        & a:hover {
            background: $clr-primary;
            color: white;
            border: 1px solid white;
        }
    }
}

.home-page .image {
    width: 50%;
    height: 100%;
    text-align: center;
}
/* image section */
// .image img {
//     // height: 40rem;
//     // width: 10rem;
//     /* animation: up-down 2s ease-in-out infinite alternate; */
// }
@keyframes up-down {
    from {
        transform: translateY(2rem);
        filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
    }
    to {
        transform: translateY(-2rem);
        filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
    }
}
/* media query for .home-page section */
@media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
    header {
        position: relative;
        // height: 10vh;

        & nav {
            height: 100vh;
            width: 50%;
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100%);
            opacity: 0;
            transition: all 0.6s linear;
            justify-content: space-evenly;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            z-index: 10;
        }
        & a {
            opacity: 0;
        }
        .active {
            transform: translateX(0%);
            opacity: 1;
        }
        @keyframes linkAnimate {
            from {
                opacity: 0;
                transform: translateX(15rem);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        & .hamburger {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(-5%, -50%);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            z-index: 1000;

            & .lines {
                width: 3rem;
                height: 0.3rem;
                background-color: $clr-primary;
                transition: all 0.3s ease-in-out;
                border-radius: 2px;
            }
            & .line2 {
                margin-top: 5px;
            }
            & .line3 {
                margin-top: 5px;
            }
        }
        .animate .line1 {
            transform: translate(5px, 8px) rotate(45deg);
        }
        .animate .line2 {
            opacity: 0;
        }
        .animate .line3 {
            transform: translate(5px, -8px) rotate(-45deg);
        }
    }
    .home-page {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        & .title {
            text-align: center;
            margin-top: 3rem;
            & a {
                padding: 5px 1rem;
            }
        }
    }
}
/* --------------------service page stylling------------------------- */
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;

    & h1 {
        margin-top: 2rem;
        text-align: center;
        width: 100%;
    }
    & .contents {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;
        & .image-house {
            box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);

            & h2 {
                font-size: var(--title-section-h2-f-s);
            }
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .contents {
            grid-template-columns: 1fr;
        }
    }
}
/* -------------------about page styling----------------------- */
/* svg image styling */
.about {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about img {
    // margin: 0 auto;
    height: 20rem;
    // animation: up-down 2s ease-in-out infinite alternate;
}

/* -----------------------------Contact page form styling-------------------------------- */
form {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    border-radius: 1rem;
    border: 1px solid rgba(102, 7, 165, 0.4);
    overflow: hidden;
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 2rem;
    & .detail {
        height: 7rem;
        overflow: hidden;
        text-align: left;
        position: relative;
        margin: 1rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    & label {
        width: 100%;
        text-align: left;
        margin-left: 10%;
        font-size: clamp(1.5rem, 1.8rem, 2.2vw);
        color: $clr-primary;
    }
    & input {
        line-height: 1;
        padding: 0.5rem 2rem 0.5rem 5%;
        font-size: clamp(2rem, 2.2rem, 2.7vw);
        border-radius: 1rem;
        outline: none;
        width: 90%;
        transition: 0.2s;
        /* background: white; */
        color: rgb(15, 15, 15);
        overflow: hidden;
        letter-spacing: 1px;
        outline: none;
        border: 1px solid rgba(102, 7, 165, 0.2);
    }
    input:focus {
        background: rgb(221, 217, 217);
    }
    & textarea {
        padding: 1rem;
        width: 90%;
        height: 100%;
        border: 1px solid rgba(102, 7, 165, 0.5);
        color: black;
        font-family: inherit;
        outline: none;
        font-size: clamp(1.5rem, 1.8rem, 2.3vw);
        font-weight: bold;
    }
    & button {
        line-height: 1;
        height: 3rem;
        width: 22%;
        margin: 1.5rem auto 0 auto;
        color: $clr-primary;
        font-size: clamp(1.5rem, 2rem, 2.5vw);
        background: white;
        border: 1px solid $clr-primary;
        border-radius: 1rem;
        transition: 0.2s;
        cursor: pointer;
    }
    button:hover {
        background: $clr-primary;
        color: white;
    }
    & .text {
        height: 10rem;
    }
}
// ------------------footer styling--------------------
footer {
    // border:1px solid red;
    width: 90vw;
    text-align: center;
    font-size: clamp(2rem, 2.5rem, 3vw);
    margin: 0 auto 1rem auto;

    & span {
        // font-weight: bold;
        color: rgb(102, 7, 165);
    }
}
